@import "~element-ui/packages/theme-chalk/src/common/var";

/* Header
  -------------------------- */
$--header-padding: 0 24px !default;

/* Footer
-------------------------- */
$--footer-padding: 0 24px !default;

/* Main
-------------------------- */
$--main-padding: 24px !default;
