@import "variables";
@import "~element-ui/packages/theme-chalk/lib/index.css";

// 受到reseter.css影响，需要手动重置回默认值
.el-time-panel * {
  box-sizing: inherit;
}

// el-drawer默认样式修改
.el-drawer__header {
  margin-bottom: 0;
  padding: 8px 16px 8px 24px;
  border-bottom: $--border-base;
  color: $--color-text-primary;
  font-size: $--font-size-large;
  font-weight: 500;
}

.el-drawer__body {
  padding: 16px 24px;
}
